@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .global-padding-x {
    @apply px-4 sm:px-6 lg:px-8;
  }

  .global-padding-y {
    @apply py-8 sm:py-10 lg:py-12;
  }

  .max-container {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    @apply mx-auto;
  }

  .font-title {
    @apply text-title sm:text-title_sm  md:text-title_md  lg:text-title_lg  xl:text-title_xl font-bold leading-none;
  }
}